.maincontent{
    width: 691px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: -6rem;
    }
    
    .maincontent > h4{
        font-size: 20px;
        font-weight: 400;
        color: #737373;
        /* width: 191px;
        height: 24px; */
    }
    
    .maincontent > h3{
        margin-top: 1rem;
        font-size: 24px;
        font-weight: 700;
        color: #737373;
        letter-spacing: 0.1px;
    }
    
    .maincontent > p{
        margin-top: 0.5rem;
        font-size:14px;
        font-weight: 400;
        color: #737373;
        letter-spacing: 0.2px;
    }
    