.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    /* height: 175px; */
}

.Logosection{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    position: absolute;
    gap: 30px;
    margin-top: -6rem;
    width:1,054px;
    
    
}