

.cards {
    margin: 0rem 6rem;
    gap: 1rem;
    display: grid;
    height: 100vh;
}

.card1, .card2, .card3, .card4 {
    padding: 24px;
    font-family: 'Montserrat';
}
.readmore, .item {
    font-size: 14px;
    font-weight: 700;
}

.item {
    color: rgba(45, 192, 113, 1);
}
.card1 {
    grid-row: 1 / span 2;
    background-image: url('images/heromain/h1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card2 {
    grid-column: 2 / span 2;
    background-image: url('images/heromain/h2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.card3 {
    background-image: url('images/heromain/h3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card4 {    
    background-image: url('images/heromain/h4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 700px){
.container{
padding: 5%;
margin: 0 auto;
}
}

@media screen and (max-width: 650px) {
    .container {
        height: auto;
        margin: 0 auto;
        padding: 20px;
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
        height: auto;
        place-items: center;
    }

    .card1, .card2, .card3, .card4 {
        width: 100%;
        height: auto;
        grid-column: auto;
        display: flex;
        flex-direction: column;
    }

    .card1, .card2, .card3, .card4 {
        width: 332px;
        height: 300px;
    }
}
