.container{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 48px;
    width: 1,128px;
    height: 682px;
    padding: 80px, 0px, 80px, 0px;
    gap: 30px;
    justify-content: space-between;
    margin: 84px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 438px;
}

.right > h3{
    width: 300px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    color: #252B42;
   
}

.right > h6{
    width: 451px;
    height:48px;
    font-weight: 700;
    font-size: 14px;
    color: #252B42;
    text-align: center;
    line-height: 24px;
   
}


.name{
    margin-top: 1rem;
width: 100px;
height: 24px;
font-size: 14px;
font-weight: 700;
color: #23A6F0;
}

.discription{
    width:65px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #252B42;
}

.right > img{
    margin-top:2rem ;
}


.left{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto;
    gap: 20px;
}

@media screen and (max-width: 667px) {
    .container{
        flex-direction: column;
        padding: 0 48px;
        width: 100%;
        height: 100%;
        padding: 80px, 0px, 80px, 4px;
        gap: 30px;
        margin: 84px;
    }
    right{
        display: flex;
        align-items: center;
        width: 50%;
    }
    .left{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto auto;
        gap: 20px;
        padding-right: 23rem;
    }
}